.indexlogo {
    width: 80%;
    display: block;
    margin: 25% auto 15% auto;
}

.pageslogo {
    width: 60%;
    display: block;
    margin: 10% auto 0 auto;
}

span {
    /*the small user icon*/
    width: 25px;
    height: 27px;
    background-image: url(/Images/user.png);
    display: inline-block;
    background-size: contain;
}

.user {

    display:inline-block;
    font-size: 20px;
}

.logout {

    text-decoration: none;
    display:inline-block;
    font-size: 20px;

}

form {
    /*style the forms*/
    font-family: light, sans-serif;
    font-size: 22px;
    font-style: normal;
    width: 80%;
    display: block;
    margin: auto auto 15% auto;
}

input[type=text] {
    font-size: 18px;
}

input[type=password] {
    font-size: 18px;
}

select {
    padding: 5px 5px;
    border: none;
    border-radius: 30px;
    background-color: gainsboro;
}

input {
    border: none;
    font-style: italic;
}

.input1 {
    display: block;
}

.input2 {
    display: block;
    font-size: 20px;

}

.signup {
    border: none;
}

.forgotpassbtn {
    display: block;
    text-decoration: none;
    font-size: 15px;
    color: black;
    margin: 10% 0 0 0;
    text-align: center;
}

.signupbtn {
    display: block;
    font-size: 25px;
    color: black;
    margin: 0 0 0 0;
    text-align: center;
    text-transform: capitalize;
}

* {
    background-color: #f4f4f4;
    font-family: light;
}

@font-face {
    src: url(fonts/HelveticaNeueLTStd-BdCn.otf);
    font-family: HelveticaBold;
}

@font-face {
    src: url(fonts/HelveticaNeueLTStd-Lt.otf);
    font-family: light;
}

.container {
    width: 80%;
    margin: auto;
}

.loginbtn {
    background-color: #5DC4E5;
    border: none;
    color: white;
    padding: 15px 50px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 28px;
    margin: 10% auto 10% auto;
    border-radius: 20px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.videobtn {
    background-color: #5DC4E5;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 28px;
    border-radius: 20px;
    cursor: pointer;
}

.chatbtn {
    background-color: #1366B0;
    border: none;
    color: white;
    padding: 10px 90px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 28px;
    border-radius: 20px;
    cursor: pointer;
}

.todaybtn {
    background-color: #664F60;
    border: none;
    color: white;
    padding: 10px 80px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 28px;
    border-radius: 20px;
    cursor: pointer;
}

.studbtn {
    width: 100%;
    background-color: #9F96C9;
    border: none;
    color: white;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 28px;
    border-radius: 20px;
    cursor: pointer;

}

.exambtn {
    width: 100%;
    background-color: #EA4E43;
    border: none;
    color: white;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 28px;
    border-radius: 20px;
    cursor: pointer;

}
.fas fa-lock{
    color: black;
}
.homebtns{
  border: none;
  border-radius: 25px;
  background: lightgray;
  padding: 20px;
  width: 300px;
  margin: 0 auto;
}
.box{
    margin-bottom: 0.2em;
}
footer{
    width: 100%;
    text-align: center;
    margin-top: 50px;
}
